{{ define "main" }}
<main class="list container py-6">
    {{- if or .Title .Content -}}
    <div class="row py-3">
        <div class="col">
            {{ with .Title }}<h3 class="display-4">{{ . }}</h3>{{ end }}

            {{- with .Content -}}
            <div class="content">
                {{ . }}
            </div>
            {{- end -}}
        </div>
    </div>
    {{- end -}}

    {{if eq .Title "Tags"}}
    <!-- render Tags -->
    <div class="tags my-3">
        <div class="col mb-3">
            {{ range .Pages }}
            {{ $page := . }}

            <a class="badge badge-pill badge-light border mr-2" href="{{ $page.RelPermalink }}">
                <svg class="svg-inline--fa fa-tag fa-w-16 mr-2" aria-hidden="true" focusable="false" data-prefix="fas"
                    data-icon="tag" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                    data-fa-i2svg="">
                    <path fill="currentColor"
                        d="M0 252.118V48C0 21.49 21.49 0 48 0h204.118a48 48 0 0 1 33.941 14.059l211.882 211.882c18.745 18.745 18.745 49.137 0 67.882L293.823 497.941c-18.745 18.745-49.137 18.745-67.882 0L14.059 286.059A48 48 0 0 1 0 252.118zM112 64c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48z">
                    </path>
                </svg>{{ $page.Title }}</a>
            {{ end }}
        </div>
    </div>
    {{else}}
    <!-- render others -->
    <div class="row row-cols-1 row-cols-lg-3">
        {{ range .Pages }}
        <div class="col mb-3">
            {{ .Render "card" }}
        </div>
        {{ end }}
    </div>
    {{end}}
</main>
{{ end }}